[Unit]
Description=Bluetooth_Listener
After=graphical.target multi-user.target default.target

[Service]
User=pi
WorkingDirectory=/home/pi/Documents/Project/Bluetooth_Listener
ExecStart=/bin/bash /home/pi/Documents/Project/Bluetooth_Listener/bluetooth_launcher.sh
ExecStartPre=/bin/sleep 30
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
Restart=always
RestartSec=10

[Install]
WantedBy=graphical.target
